nav.navbar.navbar-default {
    background: #2E7AD1;
    border: 0;
    color: #999999;
    min-height: 75px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

nav.navbar.navbar-default a.navbar-brand span {
    color: #54b579;
}

nav.navbar.navbar-default a.navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2.2rem;
}

nav.navbar.navbar-default a:hover, nav.navbar.navbar-default a:active {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}